<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p style="color: red">Hola, {{userName}}</p>
        <br>
        <br>
        <p>Datos de su ticket:</p>
        <p>Codigo: {{code}}</p>
        <p>Fecha: {{date}}</p>
        <p>Monto Total: ${{amount}}</p>

    </body>
</html>
